$c-error: #e4002b;
$c-grey-10: #f8f8f8;
$c-grey-30: #ddd;
$c-grey-50: #aaa;
$c-grey-70: #464646;
$c-orange-70: #ff6200;
$c-turquoise-20: #b0e1e7;
$c-turquoise-60: #00adc3;
$c-turquoise-80: #016a7f;
$c-turquoise-invent: #c0ebf2;
$c-white: #fff;
